.button-box-cls {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 2rem;

  .button-box {
    button {
      outline: none;
      border: none;
      font-size: 24px;
      padding: 10px 15px;
      font-weight: bold;
      border-radius: 5px;
      color: #8f7744;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
    }
  }
}

.section {
  background-color: #262626;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .main {
    width: 50%;
    color: white;
  }
}

#landingPage {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;

    .left {
      position: relative;
      background-color: #262626;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      .box {
        .main-heading {
          font-size: 24px;
          font-weight: bold;
        }

        .third {
          display: flex;
          gap: 5px;
          align-items: center;
          margin-top: 1rem;
        }
      }
    }
    .right {
      position: relative;
      height: 100%;
      background-image: url(../../assets/images/banner-image);
    }
  }
}

#section-1 {
  .main {
    .heading {
      display: flex;
      align-items: center;
      gap: 10px;
      .one {
        display: flex;
        align-items: center;
        gap: 2px;
      }
      .two {
        font-size: 24px;
      }
    }

    .content {
      margin-left: 35px;

      .name {
        height: 40px;
        width: 100%;
        background: transparent;
        color: white;
        border: none;
        border-bottom: 1px solid gray;
        font-size: 24px;
        margin-top: 2rem;
      }

      .name:focus {
        outline: none;
        border-bottom: 1px solid white;
      }
    }
  }
}

#section-2 {
  .main {
    .heading {
      display: flex;
      align-items: center;
      gap: 10px;
      .one {
        display: flex;
        align-items: center;
        gap: 2px;
      }
      .two {
        font-size: 24px;
      }
    }
    .content {
      margin-left: 35px;

      .container {
        .input-field {
          display: flex;
          justify-content: space-between;

          .countries {
            width: 15%;
            height: 40px;
            background: transparent;
            color: white;
            border: none;
            border-bottom: 1px solid gray;
            font-size: 24px;

            option {
              background-color: #262626;
              color: white;
              border-radius: 0%;
            }
            option:hover {
              background-color: red !important;
            }
          }
          .phone {
            height: 40px;
            width: 80%;
            background: transparent;
            color: white;
            border: none;
            border-bottom: 1px solid gray;
            font-size: 24px;
          }

          .countries:focus,
          .phone:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid white;
          }
        }
      }
    }
  }
}


#section-3 {
  background-color: #262626;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .main {
    .heading {
      font-size: 24px;
      margin-bottom: 1rem;
    }
    .content {
      font-size: 20px;
      color: #9fabab;
    }
  }
}

#section-6 {
  .main {
    .heading {
      display: flex;
      align-items: center;
      gap: 10px;
      .one {
        display: flex;
        align-items: center;
        gap: 2px;
      }
      .two {
        font-size: 24px;
      }
    }
    .content {
      margin-left: 35px;
      .text {
        color: #9fabab;
        font-size: 20px;
        margin-bottom: 2rem;
      }
      .input-boxes {
        .box {
          display: flex;
          flex-direction: column;
          margin-bottom: 2rem;

          label {
            font-size: 16px;
          }
          input {
            height: 40px;
            width: 100%;
            background: transparent;
            color: white;
            border: none;
            border-bottom: 1px solid gray;
            font-size: 24px;
            margin-top: 2px;
          }
          input:focus {
            outline: none;
            border-bottom: 1px solid white;
          }
        }
      }
    }
  }
}

#section-7 {
  .main {
    .heading {
      display: flex;
      align-items: center;
      gap: 10px;
      .one {
        display: flex;
        align-items: center;
        gap: 2px;
      }
      .two {
        font-size: 24px;
      }
    }
    .content {
      margin-left: 35px;
      .text {
        color: #9fabab;
        font-size: 20px;
      }
    }
  }
}


// Common Styling for Para Sections
.heading{
  &-text{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #f1e2ec;
  }
}
.content{
  .container{
    .description-text{
      .main-text{
        font-weight: unset;
        font-size: 22px;
        line-height: 28px;
        color: rgba(241, 236, 226, 0.7);
        text-align: start;
        overflow-wrap: break-word;
      }
    }

    .list-text{     
      list-style: none;
      li{
        font-weight: unset;
        font-size: 22px;
        line-height: 28px;
        color: rgba(241, 236, 226, 0.7);
        text-align: start;
        overflow-wrap: break-word;
        margin-top: 32px;
      }
    }
  }
}
